header{
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg");
    background-size: cover;
    background-position: center;
    padding: 50px;
}
header>div img {
    height: 200px;
    border-radius: 50%;
}
nav {
    background-color: rgba(255, 255, 255, 0.424) !important;
}
nav a:hover{
    color: rgb(255, 208, 0) !important;
}
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.729) !important;
}
.dropdown-menu a{
    color: whitesmoke;
}
.dropdown-menu a:hover{
    background-color: rgba(216, 216, 216, 0.727) !important;
}
.bg-secondary {
    background-color: rgb(62, 62, 62) !important;
}
.card{
    width: 200px;
}
.card p {
    transition: 1s;
}
.card p:hover {
    transform: scale(1.2);
    color: rgb(232, 210, 4);
}
footer p{
    margin: auto;
    width: max-content;
    padding: 5px 15px;
    margin-top: 20px;
}